{% extends 'jumbotron_base.html' %}
{% load crispy_forms_tags %}

{% block display_data %}

    <!-- Header -->
    {% if 'create_page' in request.path %}
        <h1 class="display-6">Create New Page</h1>
        <p class="lead">Let's get started by creating a new page.</p>
        <hr class="my-4">
    {% elif 'edit_page' in request.path %}
        <h1 class="display-6">Edit Page</h1>
        <p class="lead"> Feel free to edit your page.</p>
        <hr class="my-4">
    {% endif %}

    <!-- Form Error Handler -->
    {% block form_error_handler %}
        {% include 'form_error_handler.html' %}
    {% endblock %}
    <!-- Form Error Handler -->

    <!-- Form -->
    <form action="" method="post" class="form-horizontal registerForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit" role="button" onclick="create_or_update();">
                    Submit
                </button>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-secondary" href="{% url 'todo_list:list_page' %}"> Cancel </a>
            </div>
        </div>
    </form>

    <!-- JS -->
    <script>

        const pathname = window.location.pathname;
        var api = 'http://127.0.0.1:8004/api/pages/'
        var page_id = pathname.split('/')[2]

        if (pathname.includes('edit')) {
            populate_form();
        }

        function populate_form() {
            fetch(api.concat(page_id, '/'))
                .then((resp) => resp.json())
                .then(function (data) {
                    document.getElementById('title').value = data.title;
                });
        }

        function create_or_update() {
            var method = 'POST'
            if (pathname.includes('edit')) {
                method = 'PUT'
                api = api.concat(page_id, '/')
            }

            var body = {
                'title': document.getElementById('title').value
            }
            var header = {
                'Content-Type': 'application/json',
                'X-CSRFTOKEN': getCookie('csrftoken')
            }

            //request
            fetch(api, {
                'method': method,
                'headers': header,
                'body': JSON.stringify(body)
            })
        }

    </script>

{% endblock %}
